{% extends 'nav.html' %} {% block content %}
<br><br>
<div style="text-align: center; width: 800px; margin: auto;">
    <p style="font-size: 25px;">
        Hello! Please fill out the form below to get into contact with us about commissioning an order.
        <br><br>
        If you have any questions or concerns about the images please contact us.
        <br>
        We will get back to you as soon as possible.
        <br>
    </p>
</div>

<br>

<div class="container" style="width: 800px; margin: auto;">
    <form action="action_page.php">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="lname">Email</label>
      <input type="text" id="lname" name="lastname" placeholder="Your email address..">
   
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
<br><br><br><br>


 {% endblock %}