{% extends 'nav.html' %} {% block content %}

<div class="row" style=" display: flex; justify-content: center; margin: auto; width: 1000px; ">
    <div class="column">
      <img src="/static/digital/Bronte_Park.jpg">
      <img src="/static/digital/Earth.jpg">
      <img src="/static/digital/Far.jpg">
      <img src="/static/digital/Martisor.jpg">

    </div>
    <div class="column">
        <img src="/static/digital/Munte_apus_de_soare.jpg">
        <img src="/static/digital/Munti_in_ceata.jpg">
        <img src="/static/digital/Urs_Final.jpg">
        <img src="/static/digital/Space.jpg">
        <img src="/static/digital/Water.jpg">
        
        
    </div>
    <div class="column">
      <img src="/static/digital/Portocala.jpg">
      <img src="/static/digital/Piramids.jpg">
      <img src="/static/digital/Plaja.jpg">
      <img src="/static/digital/Bucovina.jpg">
      <img src="/static/digital/1.jpg">
      

    </div>
</div>
<br><br>




  

{% endblock %}